<p id="notice"><%= notice %></p>

<p>
  <h1><%= @beer_club.name %> <%= @beer_club.city %></h1>
</p>

<p>
  <%= "Founded in #{@beer_club.founded}" %>
</p>

<strong>Members</strong>
<ul>
	<% @beer_club.users.each do |u| %>
	<li>
		<%= link_to u.username, user_path(u) %>
	</li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user %> |
<%= link_to 'Back', beer_clubs_path %>
